body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/PICS/home\ page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
header {
    background-color: #ffffff58;
    color: #000000;
    height: fit-content;
    width: 100vw;
}
.linkNavbar {
    text-decoration: none;
    color: #120460;
    font-weight: bold;
    padding-right: 2%;
}
a:link {color: #301941;}
a:visited {color: #301941;}
a:hover {color: aliceblue;}
a:active {color: #b57ae2;}
main{
    color: #ffffff;
    min-width: 900px;
}
.section_back {
    background-color: #b57ae2;
    color: #ffffff;
}
footer {
    background-color: #743e9adc;
    color: #000000;
    min-height: 12vh;
    width: 100vw;
}
  
  