body{
    display: grid;
    height: 100vh;
    background-color: #b57ae2;
}
@media screen and (max-width: 600px) {
    body {
        grid-template-areas: 
        'header header'
        'main main'
        'main main'
        'section section'
        'footer footer';
        gap: 0;
    }
  }
@media screen and (min-width: 600px) {
    body {
        grid-template-areas: 
        'header header header header'
        'navbar navbar navbar navbar'
        'main main main main'
        'section section section section'
        'footer footer footer footer';
        gap: 1;
    }
  }
.container{
    width: 95vw;
    display: flex;
}
header{
    grid-area: header;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 10vh;
    background-color: rgba(240, 248, 255, 0.474);
    background-image: linear-gradient(white, #b57ae2);
    position: sticky;
    justify-content: space-around;
    margin-top: -8px;
    margin-left: -8px;
    position: fixed;
}
.head-bar{
    width: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 4vh;
}
.logo-top{
    height: 20px;
}
.subscribe-buttons-nav{
    display: flex;
}
.profile image{
    height: 10px;
    width: 10px;
}
.nav-inside-links{
    display: flex;
    justify-content: space-evenly;
}
.nav-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vw;
}
.linkNavbar{
    text-decoration: none;
}
a:link {
    color: aliceblue;
}
a:visited {
    color: aliceblue;
}
a:hover {
    color: #301941;
}
a:active {
    color: #b57ae2;
}
.main-top{
    grid-area: main;
    width: 100vh;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}
#main_top_right{
    background-color: aliceblue;
    margin-top: 5%;
    padding: 5%;
}
section{
    grid-area: section;
    width: 100vh;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}
.scrool-main{
    display: block;
}
