body {
  background-color: #301941;
}
.h2{width: fit-content;}
.circels {
  width: 40vw;
  height: 40vw;
  border: 1px solid black;
  border-radius: 40vw;
}
/*.courses{align-items: center; ;}*/
header {
  grid-area: header;
  background-color: #6d4d84;
  color: #000000;
  position: sticky;
  height: 125px;
}
.article {
  background-color: rgba(137, 137, 137, 0.203) !important;
}
.like {
  transition: all 0.1s ease-in;
  color: rgba(0, 0, 0, 0.484);
}
.like:hover {
  color: red;
}
.vedio-groups {
  background-color: rgba(255, 255, 255, 0.491);
  border: 1px solid white;
  border-radius: 1vw;
  padding-top: 1vw;
}
.title {
  color: white;
  text-align: center;
}
/* .course { 
  border: 2vw sollid rgb(0, 238, 255);
  border-radius: 40vw;
  background-color: yellow;
  width: 30vw;
  height: 30vw;
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function: ease-out;
  overflow: hidden;
  justify-self: center;
  
}
.course:hover { 
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 2vw;
  background-color: none;
  transition-duration: 3s;
  transform:translate(1px,1px);
 } */
.linkNavbar {
  text-decoration: none;
  color: #120460;
  font-weight: bold;
}
a:link {
  color: #301941;
}
a:visited {
  color: #301941;
}
a:hover {
  color: aliceblue;
}
a:active {
  color: #b57ae2;
}
.footer {
  grid-area: footer;
  background-color: #743e9a;
  color: #000000;
  min-height: 300pxpx;
  min-width: 900px;
  position: sticky;
}
