nav{
    background-color: #743e9adc;
}
nav ul{
    list-style: none;
    transition: all 2s;
    overflow: hidden;

}
nav ul :hover{
    max-height: fit-content;
    height: 10vh;
    overflow: visible;

}