body{
    display: grid;
    height: 100vh;
    background-image: url(/PICS/home\ page.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.youtube {
  width: 100%;
}
.vedio-groups2 {
  background-color: rgba(255, 255, 255, 0.491);
  border: 1px solid white;
  border-radius: 1vw;
  padding-top: 1vw;
}

.sidebar2 {
  display: none;
}
@media screen and (max-width: 600px) {
  body {
    grid-template-areas:
      "header header "
      "main main"
      "main main"
      "main main"
      "footer footer";
    gap: 0;
    height: 250vh;
  }
  
  .sidebar2 {
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
    overflow: hidden;
    transition: all 4s;
    width: 5vh;
    height: 5vh;
  }
  .sidebar2:hover {
    width: 13vh;
    height: 40vh;
    background: whitesmoke;
    color: whitesmoke;
    overflow: visible;
  }
}
@media screen and (min-width: 600px) {
  body {
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
    gap: 1;
  }
}
header {
  grid-area: header;
  background-color: #ffffff58;
  color: #000000;
  position: sticky;
  height: 120px;
}
@media screen and (max-width: 600px) {
  nav a {
    font-weight: bolder;
  }
}
.linkNavbar {
  text-decoration: none;
  color: #120460;
  font-weight: bold;
}
a:link {
  color: #301941;
}
a:visited {
  color: #301941;
}
a:hover {
  color: aliceblue;
}
a:active {
  color: #b57ae2;
}

main{
    grid-area: main;
    color: #ffffff;
    min-width: 900px;
}
.white-back {
  grid-area: section;
  background-color: #b57ae2;
  color: #ffffff;
}
section {
  height: 100vh;
}
.promotional-video{
  margin-top: 10%; width: 100%;
}
footer {
  grid-area: footer;
  background-color: #743e9adc;
  color: #000000;
  min-height: 12vh;
  width: 100vw;
}
.mobile-main{
  display: none;
}

.section_back {
  background-color: #b57ae2;
  color: #ffffff;
}
.youtube{width:100%;}
@media screen and (max-width:600px) {
  .mobile-main{
    display:initial; width: fit-content !important;
  }
  .screen-main{
    display: none;
  }
  .navi{display: none;}
}
@media screen and (min-width:600px) {
  .mobile-main{
    display:none;
  }
  .screen-main{
    display: initial;
  }
}
